.but{
		height: 40px;
		border-radius: 20px !important;
		border: 2px solid lightblue !important;
		transition: .4s ease-out;
		background-color: lightblue !important;
	&:hover{
		background-color: rgba(0,0,0,0) !important;
	}
}